@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

/////////////////////////////////////////
// COLORS VARIABLES
$primary-color: hsl(0, 0%, 32%);
$text-color: hsl(0, 0%, 100%);
$background-color: hsl(0, 0%, 69%);
$top-bar-color: hsl(0, 0%, 50%);
$alt-color: hsl(0, 74%, 51%);
$brush-color: hsl(0, 0%, 45%);
$slider-color: hsl(0, 0%, 69%);
$thumb-color: hsl(0, 0%, 18%);
$black-color: hsl(0, 0%, 0%);
$clear-color: hsl(0, 100%, 58%);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}